<nav{{ attributes.defaults({ class: 'nav-button-bar' }) }}>
    {% for group in app_nav.menu(menu) %}
        <ul>
            {% for item in group.items %}
                {% set link = path(item.route, item.route_parameter|default([])|merge(routeParameters)) %}
                <li class="nav-item">
                    <a href="{{ link }}" class="nav-link {{- app.request.requestUri == link ? ' active' }}">
                        {% if item.icon is defined %}
                            {{ ux_icon(item.icon) }}
                        {% endif %}
                        {{ item.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</nav>