<div{{ attributes.defaults({ class: 'chart-wrapper', 'data-controller': 'chart-component' }) }}>
    <div style="height: 400px;">
        {{ render_chart(computed.chart, {
            'data-controller': 'custom-chart',
            'data-custom-chart-view-value': computed.chart.createView|json_encode|raw
        }) }}
    </div>

    {% set buttons = [
        'Colonization',
        'Surface',
        'Temperature',
        'Gravitation',
        'Pressure',
        'Fertility'
    ] %}
    <div class="btn-group mt-5">
        {% for btn in buttons %}
            {%- set active = view == btn|lower -%}
            <label class="btn btn-light {{- active ? ' active' }}">
                <input type="radio" data-model="view" name="view" value="{{ btn|lower }}"
                        {{ active ? 'checked' }} hidden>
                {{ btn }}
            </label>
        {% endfor %}
    </div>
</div>
