<div{{ attributes.defaults({ class: 'chart-wrapper', 'data-controller': 'chart-component' }) }}>
    <div style="height: 400px;">
        {{ render_chart(computed.chart, {
            'data-controller': 'custom-chart',
            'data-custom-chart-view-value': computed.chart.createView|json_encode|raw
        }) }}
    </div>

    <div class="mx-4 mt-3">
        <table class="table table-striped">
            <thead class="fw-bold" style="font-size: .8rem">
            <tr>
                <th></th>
                <th class="text-end">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Total</th>
                <th class="text-end">{{ this.total|number_format }}</th>
            </tr>
            <tr>
                <td>Pioneers</td>
                <td class="text-end">{{ computed.latestReport.pioneers.amount|number_format }}</td>
            </tr>
            <tr>
                <td>Settlers</td>
                <td class="text-end">{{ computed.latestReport.settlers.amount|number_format }}</td>
            </tr>
            <tr>
                <td>Technicians</td>
                <td class="text-end">{{ computed.latestReport.technicians.amount|number_format }}</td>
            </tr>
            <tr>
                <td>Engineers</td>
                <td class="text-end">{{ computed.latestReport.engineers.amount|number_format }}</td>
            </tr>
            <tr>
                <td>Scientists</td>
                <td class="text-end">{{ computed.latestReport.scientists.amount|number_format }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
