<div{{ attributes.defaults({ class: 'chart-wrapper' }) }}>
    <div style="height: 400px">
        {{ render_chart(computed.chart) }}
    </div>

    <div class="mx-4 mt-3">
        <table class="table table-striped">
            <thead class="fw-bold" style="font-size: .8rem">
            <tr>
                <th></th>
                <th class="text-end">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Total</th>
                <th class="text-end">{{ this.total|number_format }}</th>
            </tr>
            <tr>
                <td>Pioneers</td>
                <td class="text-end">{{ report.nextPopulationPioneer|number_format }}</td>
            </tr>
            <tr>
                <td>Settlers</td>
                <td class="text-end">{{ report.nextPopulationSettler|number_format }}</td>
            </tr>
            <tr>
                <td>Technicians</td>
                <td class="text-end">{{ report.nextPopulationTechnician|number_format }}</td>
            </tr>
            <tr>
                <td>Engineers</td>
                <td class="text-end">{{ report.nextPopulationEngineer|number_format }}</td>
            </tr>
            <tr>
                <td>Scientists</td>
                <td class="text-end">{{ report.nextPopulationScientist|number_format }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
